body {
    background-image: url(stonks.png);
    background-attachment: fixed;
    margin:0
}
body:link
{
    color:black;
}
#logo{
    margin-left: 15%;
    margin: 1%;
    float:left;
    width:100px;
    height:100px;
}
a  {
    text-decoration: none; font-weight:normal;
} 
.one{
    margin: 0 auto;
    background-color:rgba(46, 218, 224, 0.473);
    padding-top:10px;
    padding-bottom: 20px;
    font-size: 20px;
}
.dva {
    flex-direction: row;
    flex: 1 1 1 auto;
    display: flex;
    margin:0 auto;
    padding:1%;
    background-color:rgba(5, 11, 59, 0.822);
    max-width: 100%; 
    font-size: 5px; 
    text-align:left;
}
._1 {
    order:1;
    margin-left:5%;
}
._2 {
    order:2;
    margin-left:5%;
}
._3 {
    order:3;
    margin-left:5%;
}
.dva a {
    color:rgb(182, 186, 250);
    font-size: 18px;
    margin:5%;
}      

a:hover {
    color:rgb(16, 126, 2);
}

.tri {
    order:1;
    text-align:left;

    font-size: 15px;
    line-height: 1;
}
#flex {
    background-color:rgba(215, 218, 245, 0.753);
    flex-direction: column;
    flex: 1 1 1 auto;
    display: flex;
    margin: 0 auto;
    max-width:100%; 
    font-size: 15px;
}
.footer {
    max-width:100%; 
    margin-bottom: 0;
    background-color:rgb(182, 182, 184); 
    margin:0 auto;
    color:rgb(182, 182, 184);  
    padding-top:30px;
    padding-bottom: 30px;
}
table {
     margin:0 auto;
     text-align: center;
}
.table{
    order: 3;
    background-color:rgba(51, 35, 196, 0.342);
}
.tabl{
    margin:0 auto;
    background-color:rgba(51, 35, 196, 0.575);
}
.nechet
{
  background-color:rgba(0, 70, 128, 0.466);
}
.chet{
  background-color:rgba(0, 217, 255, 0.548);
}
.form {
    order: 2;
}
.table, .form{
    margin: 10px;
    padding: 10px;
  }
@media screen and (min-width: 1000px) {
    .dva {
        flex-direction: column;
        max-width: 80%;
    }
    #logo
    {
        margin-left: 0%
    }
    .form{
        order: 3;
    }
    .table{
        order: 2;
    }
    #flex {
        max-width: 70%;
    }
}